<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/crud.css">
  <title> Place your kitchen order </title>
</head>
<body>
 
<!-- Menu area-->
<header id="header">
        <nav>
        <!-- Welcome page -->
        <div class="container">
            <div class="text-center">
                <a class="nav-brand text-dark"> New ingridient system </a>
            </div>
        </div>
       </nav>
</header>

    <!-- Table with CRUD Starts -->
        <main id="site-main"> 
            <div class="wrap-container"> 
                <!-- Table for create -->
                <form action="/" method="POST" id="create-item">
                    <div class="new_item">
                        
                        <!-- Form for item name -->
                        <div class="form-group">
                            <label for="item" class="text-light"> Item name </label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="item" value="" placeholder="Item name">
                        </div>

                         <!-- Form for Category -->
                        <div class="form-group">
                        <label for="category" class="text-light"> Category </label>
                            <select>
                                <option> Fresh </option>
                                <option> Dairy </option>
                                <option> Canned </option>
                                <option> Bakery </option>
                            </select>
                        </div>

                        <!-- Form for Allergy -->
                        <div class="form-group">
                        <label for="allergy" class="text-light"> Allergy </label>
                            <select>
                                <option> None </option>
                                <option> Milk </option>
                                <option> Eggs </option>
                                <option> Peanutes </option>
                                <option> Tree nuts </option>
                                <option> Fish </option>
                                <option> Shellfish </option>
                                <option> Fruits and vegetables </option>
                                <option> Gluten </option>
                                <option> Others </option>
                            </select>
                        </div>

                        <!-- Save button -->
                        <div class="form-group">
                            <button type="submit" class="btn text-dark" update> Create </button>
                        </div>
                    </div>
                </form>

                <!-- Return to main menu -->
                <form action="/" method="GET" id="create-item">
                    <div class="new_item">
                        <!-- Return button -->
                        <div class="form-group">
                            <button type="submit" class="btn text-dark" href="/"> Return to main menu </button>
                        </div>
                    </div>
                </form>

            <!-- Wrap container closes-->
            </div>

        <!-- Main section closes -->
        </main>

</body>
</html>
