<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/crud.css">
  <title> Place your kitchen order </title>
</head>
<body>
 
    <!-- Menu area-->
    <header id="header">
            <nav>
            <!-- Welcome page -->
            <div class="container">
                <div class="text-center">
                    <a class="nav-brand text-dark"> New ingridient system </a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Table with CRUD Starts -->
        <main id="site-main"> 
            <div class="wrap-container"> 
                <!-- Table for create -->
                <form action="/ingridients" method="POST" id="create-item" enctype="multipart/form-data">
                    <div class="new_item">
                        
                        <!-- Form for item name -->
                        <div class="form-group">
                            <label for="name" class="text-light"> Item name </label>
                            <input type="text" name="name" placeholder="Item name">
                        </div>

                         <!-- Form for Category -->
                        <div class="form-group">
                        <label for="category" class="text-light"> Category </label>
                        <input type="text" name="category" placeholder="Category">
                        </div>

                        <!-- Form for Allergy -->
                        <div class="form-group">
                            <label for="allergy" class="text-light"> Allergy </label>
                            <input type="text" name="allergy" placeholder="Allergy">
                        </div>

                <!-- Create button -->
                
                    <div class="new_item">
                        <!-- Return button -->
                        <div class="form-group">
                            <button type="submit" class="btn text-dark"> Create </button>
                        </div>
                    </div>

                <!-- Return to main menu -->
                    <div class="new_item">
                        <!-- Return button -->
                        <div class="form-group">
                            <button type="submit" class="btn text-dark"> Return to main menu </button>
                        </div>
                    </div>
                </form>

            <!-- Wrap container closes-->
            </div>

        <!-- Main section closes -->
        </main>

</body>
</html>
