<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title> Place your kitchen order </title> 
</head>
<body>

<!-- Welcome page -->
<h1>Never was too easy to place an order for your kitchen ingridients.</h1>
<p> Select your items category: </p>

<!-- Tab for the category menu -->
<ul>
    <li class="active" rel="page1"> Fresh products </li>
    <li class="active" rel="page2"> Dairy products </li>
    <li class="active" rel="page3"> Canned products </li>
    <li class="active" rel="page3"> Bakery products </li>
</ul>

<!-- Container for pages -->
<div class="page_container"> 

<!-- Content of the first page -->
    <h3 class="page_activated switch_heading" rel="page1"> Fresh Products</h3>
    <div id="first" class="content"> 
        <h2> Fresh section </h2>
    </div>

    <!-- Content of the second page -->
    <h3 class="switch_heading" rel="page2"> Dairy Products</h3>
    <div id="second" class="content">
        <h2> Dairy section </h2>
    </div>

    <!-- Content of the third page -->
<h3 class="switch_heading" rel="page3"> Canned Products</h3>
    <div id="third" class="content"> 
        <h2> Canned section </h2>
    </div>

    <!-- Content of the fourth page -->
<h3 class="switch_heading" rel="page4"> Bakery Products</h3>
    <div id="fourth" class="content"> 
        <h2> Bakery section </h2>
    </div>

</div>





</body>
</html>