/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --dark: rgb(36,36,36);
    --light: rgb(192, 192, 192);
    --border: rgb(206, 206, 206);
    --border-btn: rgb(92, 92, 92);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, label {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.wrap-container{
    max-width: 1024px;
    margin: auto;
    margin-top: 5%;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}


#header nav{
    background-color: #A9DEF9;
    padding: 1em 0;
    width: 100%;
}

/* Responsive screen */
@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}

/*  CRUD Template */
.form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_item{
    max-width: 786px;
    margin: auto;
}

#update_user .form-group,
#create-item .form-group{
    margin: .4em 0;
}

#update_user .form-group input[type="text"],
#create-item .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

select{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .btn,
#create-item .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color:#d0f4de; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}

#update_user .form-group .btn:hover,
#create-item .form-group .btn:hover{
    background-color: #ecfcf2;
    color: var(--border);
}