/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --dark: rgb(36,36,36);
    --light: rgb(192, 192, 192);
    --border: rgb(206, 206, 206);
    --border-btn: rgb(92, 92, 92);
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
    width: 100%;
}

/* Button size for the tabs */
ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
    padding: 0px 21px;
    width: 25%;
	height: 30px;
	background-color: #A9DEF9;
	color: var(--dark);
	overflow: hidden;
    position: relative;
    font-size: 1em;
}

.text-center-tab{
    float: left;
    margin-top: 1%;
    margin-left: 30%;
    text-align: center;
    color: var(--dark);
}


ul.tabs li:hover {
	background-color: rgb(205, 237, 253);
}

.tab_container {
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
    margin-top: -5%;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}

.text-title {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}


.container{
    max-width: 1024px;
    margin: auto;
}

.wrap-container{
    max-width: 1024px;
    margin: auto;
    margin-top: 5%;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}


.text-dark{
    color: var(--dark);
}

.text-light{
    color: var(--light);
}

.inline{
    display: inline-block;
}

#header nav{
    background-color: #A9DEF9;
    padding: 1em 0;
    width: 100%;
}

/* Responsive screen */
@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }

}

.section{
    width: 100%;
    height: 160px;
    float: left;
}

#section{
    font-size: 1.5em;
    color: var(--dark);
    margin-top: 3%;
    margin-left: 1%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Roboto', sans-serif;
}

#site-main .container.box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

#size-main .container form{
    margin: 2em 0;
}

.border-shadow{
    margin-bottom: 1%;
}

table{
    border-spacing: 0px;
    width: 98%;
    margin-left: 1%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table tr:hover{
    background-color: #f1f1f1;
}

.table tr:hover > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: white;
    background-color: #363636;
    
}

/* Table buttons */
.action-item .form-group .btn{
    margin-top: 1%;
    margin-left: 1%;
    width: 20%;
    padding: .9em 1em;
    background-color:#d0f4de; 
    color: var(--dark);
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
}

.action-item .form-group .btn:hover{
    background-color: #ecfcf2;
    color: var(--border);
}

#delete-color .btn{
    background-color: #FF99C8;
}

#delete-color .btn:hover{
    background-color: #ffbfdd;
    color: var(--border);
}

#update-color{
    background: #ffef9f;
    margin-top: 1%;
    margin-left: 1%;
    width: 20%;
    padding: .9em 1em;
    border: none;
    border-radius: .2em;
    padding: .9em 1em;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

#update-color :hover{
    background-color: #fdf1b6;
    color: var(--border);
}

